{% extends 'base.html' %}{% block content %}

<div class="table-responsive-md">
  <table class="table table-dark table-hover w-100 ">
    <thead>
      <tr>
        <th scope="col">Course</th>
        <th scope="col">Issued on</th>
        <th scope="col">Verification link</th>
      </tr>
    </thead>
    <tbody>
      {% for document in object_list %} 
      {% for certificate in document.certificates.all %}
      <tr>
        <th scope="row">{{ certificate.name }}</th>
        <th scope="row">{{ certificate.issued_on }}</th>
        <th scope="row"><a href="{{ certificate.website }}" target="_blank">{{ certificate.organisation }}</a> </th>
      </tr>
      {% endfor %} {% endfor %}
    </tbody>
  </table>
</div>
<div class="p-3 mb-4 bg-dark rounded-3">
  <div
    class="container-fluid py-5 d-flex flex-column align-items-center"
    id="about"
  >
    <h3 class="mt-2">Download my CV using the buttons below</h3>
    {% for document in object_list %}
    <button class="btn btn-primary mt-3 w-50" type="button">
      <a href="{{ document.cv.url }}" target="_blank"
        ><span class="text-uppercase">{{ document.name }}</span> CV</a
      >
    </button>
    {% endfor %}
  </div>
</div>
<div class="blog" id="blog"></div>
{% endblock content %}
